.home{
    .intro{

        h2{
            padding: 1.5rem;
        }

        p{
            padding: 0 1.5rem;
        }
    }

    .tech-images{
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        img{
            width: 28%;
            margin: 2rem 2.5%;
            border-radius: 2rem;
            height: 100%;
        }

    }

    .one-time{
        margin-top: 6rem;
        border-top: 1px solid #dee2e6;
        padding: 5rem 6rem;
        display: flex;
        justify-content: center;

        .one-time-text{
            width: 50%;

            h3{
                margin-top: 1rem;
            }

            p{
                margin-top: 2.6rem;
            }
        }

        .one-time-pic{
            width: 46%;
            margin-right: 4%;

            img{
                width: 100%;
                height: auto;
                border-radius: 1rem;
            }
        }


    }

    .anything{
        margin-top: 6rem;
        border-top: 1px solid #dee2e6;
        padding: 5rem 6rem;
        display: flex;
        justify-content: center;

        .anything-pic{
            width: 46%;
            margin-right: 4%;

            img{
                width: 100%;
                height: auto;
                border-radius: 1rem;
            }
        }

        .anything-text{
            width: 50%;

            h3{
                margin-top: 1rem;
            }

            p{
                margin-top: 2.6rem;
            }
        }

        
    }

    .sign-up{
        margin-top: 6rem;
        border-top: 1px solid #dee2e6;
        padding: 5rem 6rem;
        display: flex;
        justify-content: center;

        .sign-text{
            width: 50%;

            h3{
                margin-bottom: 1rem;
            }

            p{
                margin-bottom: 2.6rem;
            }
        }

        .old-tech-image{
            width: 46%;
            margin-left: 4%;

            img{
                width: 100%;
                height: auto;
                border-radius: 1rem;
            }
        }

        @media @phone{
            flex-direction: column-reverse;
            align-items: center;

            .sign-text{
                display: block;
                width: 110%;

                .btn{
                    width: 100%;
                    padding: 2.5rem 0;
                }
            }

            .old-tech-image{
                display: block;
                width: 110%;
            }
        }
    }

    .btn{
        .btn-frame;
    }
}