.home{
    .team{
        .member{
            display: flex;
            justify-content: center;

            h3{
                margin: 10rem;
            }

            img{
                margin: 2rem;
            }
        }

        @media @phone{
            .anthony, .jarrod, .sami, .tyler{
                flex-direction: column;
                align-items: center;
            }
            

            .edvin, .jose, .tyge{
                flex-direction: column-reverse;
                align-items: center;
            }
        }
    }
}