.btn-frame{
    background-color: #23293B;
    padding: 3rem;
    width: 60rem;
    text-align: center;
    border-radius: 1rem;
    font-size: 1.8rem;
    font-weight: bolder;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 2rem;

    a{
        text-decoration: none;
        color: white;
    }

    &:hover{
        background-color: lightblue;
        cursor: pointer;

        a{
            color: skyblue;
        }
    }
}