//Button Mixin
.btn-frame{
    background-color: black;
    color: white;
    padding: 1rem;
    width: 200px;
    text-align: center;
    border-radius: 10px;
    font-size: 1.8rem;
    font-weight: bolder;
    margin: 2rem;

    &:hover{
        background-color: gray;
        cursor: pointer;
    }
}