.btn-frame{
    background-color: #23293B;
    padding: 3rem;
    width: 60rem;
    text-align: center;
    border-radius: 1rem;
    font-size: 1.8rem;
    font-weight: bolder;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 2rem;

    a{
        text-decoration: none;
        color: white;
    }

    &:hover{
        background-color: lightblue;
        cursor: pointer;

        a{
            color: skyblue;
        }
    }

    @media @phone{
        width: 80%;
        padding: 2.5rem 0;
    }
}

.box-top{
    margin-top: 6rem;
    border-top: 1px solid #dee2e6;
    padding: 5rem 6rem;
    display: flex;
    justify-content: center;
}

.dw{
    display: block;
    width: 110%;
}

.whb{
    width: 100%;
    height: auto;
    border-radius: 1rem;
}