.top{
    background-color: #F6F6F6;
    border-color: #F1F1F1;

    .welcome{
        display: flex;
        flex-direction: column;
        max-width: 800px;
        margin: 0 auto;
        align-items: center;

        h1{
            font-size: 4rem;
            margin-top: 2rem;
        }

        .navbar{
            margin: 1.5rem;
            a{
                padding:1rem;
                font-size: 1.8rem;
                text-decoration: none;
                color: #454A59;
            }
        }

        @media @phone{
            flex-direction: column;
            align-items: center;
        }

    }
}